    /* .grid-container{
        display: grid;
        grid-template-areas: 'imagen descripcion',
                            'imagen2 descripcion2 imagen3';
    }

    .grid-item{
        grid-area:imagen;
    } */
